html, body, h1, h2, h3, h4, h5, h6, div {
  padding: 0;
  border: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: #06D6A0;
  margin: 0;
  text-align: center;
  padding: 20px 0;
}

.title {
  font-weight: 700;
  color: white;;
}

img {
  max-width: 100%;
}

.navbar {
  display: block;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

li.nav-option {
  display: block;
  margin-bottom: 5px;
}

.welcome-msg {
  margin: 20px 0;
  text-align: center;
}

.welcome-msg > h1 {
  display: inline-block;
  border-bottom: 5px solid #EF476F;
  padding-bottom: 5px;
}
